-- ===========================
-- BASE DE DATOS BIBLIOTECA FISI - MODELO SIMPLIFICADO
-- ===========================
-- Script mejorado para ejecutarse múltiples veces sin errores
-- Verifica existencia de objetos antes de crearlos

-- Verificar si la base de datos existe, si no, crearla
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'BibliotecaFISI')
BEGIN
    CREATE DATABASE BibliotecaFISI;
    PRINT 'Base de datos BibliotecaFISI creada.';
END
ELSE
BEGIN
    PRINT 'Base de datos BibliotecaFISI ya existe. Continuando...';
END
GO

USE BibliotecaFISI;
GO

-- Configurar opciones necesarias para campos calculados
SET QUOTED_IDENTIFIER ON;
GO

-- Crear tabla Libros si no existe
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Libros' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
    CREATE TABLE [dbo].[Libros](
	[LibroID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](20) NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Editorial] [nvarchar](100) NULL,
	[AnioPublicacion] [int] NULL,
	[Idioma] [nvarchar](50) NULL,
	[Paginas] [int] NULL,
	[LCCSeccion] [varchar](10) NULL,
	[LCCNumero] [varchar](20) NULL,
	[LCCCutter] [varchar](20) NULL,
	[SignaturaLCC]  AS (((((([LCCSeccion]+' ')+CONVERT([varchar],[LCCNumero]))+' ')+[LCCCutter])+' ')+CONVERT([varchar],[AnioPublicacion])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
    PRINT 'Tabla Libros creada.';
END
ELSE
BEGIN
    PRINT 'Tabla Libros ya existe. Omitiendo creación.';
END
GO
/****** Object:  Table [dbo].[Ejemplares]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crear tabla Ejemplares si no existe
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Ejemplares' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
    CREATE TABLE [dbo].[Ejemplares](
	[EjemplarID] [int] IDENTITY(1,1) NOT NULL,
	[LibroID] [int] NOT NULL,
	[NumeroEjemplar] [int] NOT NULL,
	[CodigoBarras] [varchar](50) NOT NULL,
	[Ubicacion] [nvarchar](100) NULL,
	[Estado] [varchar](20) NULL,
	[FechaAlta] [datetime] NULL,
	[Observaciones] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EjemplarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Ejemplares_Libro_Numero] UNIQUE NONCLUSTERED 
(
	[LibroID] ASC,
	[NumeroEjemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaDisponibilidadLibros]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para disponibilidad de libros
IF OBJECT_ID('[dbo].[VistaDisponibilidadLibros]', 'V') IS NOT NULL
    DROP VIEW [dbo].[VistaDisponibilidadLibros];
GO
CREATE VIEW [dbo].[VistaDisponibilidadLibros] AS
SELECT 
    l.LibroID,
    l.Titulo,
    l.ISBN,
    l.SignaturaLCC,
    COUNT(e.EjemplarID) as TotalEjemplares,
    COUNT(CASE WHEN e.Estado = 'Disponible' THEN 1 END) as EjemplaresDisponibles
FROM Libros l
LEFT JOIN Ejemplares e ON l.LibroID = e.LibroID
WHERE e.Estado != 'Baja' OR e.Estado IS NULL
GROUP BY l.LibroID, l.Titulo, l.ISBN, l.SignaturaLCC;
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[PrestamoID] [int] IDENTITY(1,1) NOT NULL,
	[ReservaID] [int] NOT NULL,
	[FechaPrestamo] [datetime] NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[FechaDevolucion] [datetime] NULL,
	[Estado] [varchar](20) NULL,
	[Renovaciones] [int] NULL,
	[DiasRenovacion] [int] NULL,
	[Observaciones] [nvarchar](500) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrestamoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUniversitario] [varchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EmailInstitucional] [nvarchar](100) NOT NULL,
	[ContrasenaHash] [nvarchar](200) NOT NULL,
	[Rol] [varchar](20) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaUltimaActualizacionContrasena] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoUniversitario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmailInstitucional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[LibroID] [int] NOT NULL,
	[FechaReserva] [datetime] NULL,
	[Estado] [varchar](20) NULL,
	[FechaExpiracion] [datetime] NULL,
	[PrioridadCola] [int] NULL,
	[EjemplarID] [int] NULL,
	[EstadoNotificacion] [nvarchar](20) NOT NULL,
	[FechaLimiteRetiro] [datetime2](7) NULL,
	[TipoReserva] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaPrestamosActivos]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[VistaPrestamosActivos]', 'V') IS NOT NULL
    DROP VIEW [dbo].[VistaPrestamosActivos];
GO
CREATE VIEW [dbo].[VistaPrestamosActivos]
AS
SELECT
    p.PrestamoID,
    p.FechaPrestamo,
    p.FechaVencimiento,
    p.Renovaciones,
    u.Nombre                   AS UsuarioNombre,
    u.CodigoUniversitario,
    -- intentamos tomar el título/ISBN desde el ejemplar (si existe), si no, desde la reserva (si la reserva tiene LibroID)
    COALESCE(le.Titulo, lr.Titulo) AS LibroTitulo,
    COALESCE(le.ISBN, lr.ISBN)     AS ISBN,
    e.NumeroEjemplar,
    e.CodigoBarras,
    CASE 
        WHEN p.FechaVencimiento < GETDATE() THEN 'Atrasado'
        ELSE 'Prestado'
    END AS EstadoCalculado
FROM dbo.Prestamos p
-- obtengo datos de la reserva asociada
INNER JOIN dbo.Reservas r ON p.ReservaID = r.ReservaID
-- usuario que hizo la reserva
INNER JOIN dbo.Usuarios u ON r.UsuarioID = u.UsuarioID
-- intento enlazar al ejemplar reservado (puede ser NULL si la reserva era por título)
LEFT JOIN dbo.Ejemplares e ON r.EjemplarID = e.EjemplarID
-- libro asociado al ejemplar (si existe)
LEFT JOIN dbo.Libros le ON e.LibroID = le.LibroID
-- libro indicado en la reserva (si la reserva contiene LibroID)
LEFT JOIN dbo.Libros lr ON r.LibroID = lr.LibroID
WHERE p.Estado = 'Prestado';
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[AutorID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Biografia] [nvarchar](max) NULL,
	[ORCID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibroAutores]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroAutores](
	[LibroID] [int] NOT NULL,
	[AutorID] [int] NOT NULL,
	[EsAutorPrincipal] [bit] NULL,
	[OrdenAutor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC,
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibroCategorias]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroCategorias](
	[LibroID] [int] NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[EsCategoriaPrincipal] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC,
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multas]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multas](
	[MultaID] [int] IDENTITY(1,1) NOT NULL,
	[PrestamoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NULL,
	[DiasAtraso] [int] NULL,
	[Motivo] [nvarchar](200) NULL,
	[FechaCobro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MultaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[ReservaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaLectura] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recomendaciones]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recomendaciones](
	[RecomendacionID] [int] IDENTITY(1,1) NOT NULL,
	[ProfesorID] [int] NOT NULL,
	[Curso] [nvarchar](100) NOT NULL,
	[LibroID] [int] NULL,
	[URLExterna] [nvarchar](255) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecomendacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecursosDigitales]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecursosDigitales](
	[RecursoID] [int] IDENTITY(1,1) NOT NULL,
	[LibroID] [int] NOT NULL,
	[URL] [nvarchar](255) NOT NULL,
	[Tipo] [varchar](20) NULL,
	[Plataforma] [nvarchar](100) NULL,
	[Licencia] [nvarchar](100) NULL,
	[Proveedor] [nvarchar](100) NULL,
	[DRM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Autores_Nombre]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Autores_Nombre' AND object_id = OBJECT_ID('[dbo].[Autores]'))
    DROP INDEX [IX_Autores_Nombre] ON [dbo].[Autores];
GO
CREATE NONCLUSTERED INDEX [IX_Autores_Nombre] ON [dbo].[Autores]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Autores_ORCID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Autores_ORCID' AND object_id = OBJECT_ID('[dbo].[Autores]'))
    DROP INDEX [IX_Autores_ORCID] ON [dbo].[Autores];
GO
CREATE NONCLUSTERED INDEX [IX_Autores_ORCID] ON [dbo].[Autores]
(
	[ORCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ejemplares_CodigoBarras]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Ejemplares_CodigoBarras' AND object_id = OBJECT_ID('[dbo].[Ejemplares]'))
    DROP INDEX [IX_Ejemplares_CodigoBarras] ON [dbo].[Ejemplares];
GO
CREATE NONCLUSTERED INDEX [IX_Ejemplares_CodigoBarras] ON [dbo].[Ejemplares]
(
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ejemplares_Estado]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Ejemplares_Estado' AND object_id = OBJECT_ID('[dbo].[Ejemplares]'))
    DROP INDEX [IX_Ejemplares_Estado] ON [dbo].[Ejemplares];
GO
CREATE NONCLUSTERED INDEX [IX_Ejemplares_Estado] ON [dbo].[Ejemplares]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ejemplares_LibroID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Ejemplares_LibroID' AND object_id = OBJECT_ID('[dbo].[Ejemplares]'))
    DROP INDEX [IX_Ejemplares_LibroID] ON [dbo].[Ejemplares];
GO
CREATE NONCLUSTERED INDEX [IX_Ejemplares_LibroID] ON [dbo].[Ejemplares]
(
	[LibroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Libros_ISBN]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Libros_ISBN' AND object_id = OBJECT_ID('[dbo].[Libros]'))
    DROP INDEX [IX_Libros_ISBN] ON [dbo].[Libros];
GO
CREATE NONCLUSTERED INDEX [IX_Libros_ISBN] ON [dbo].[Libros]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_Libros_SignaturaLCC]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Libros_SignaturaLCC' AND object_id = OBJECT_ID('[dbo].[Libros]'))
    DROP INDEX [IX_Libros_SignaturaLCC] ON [dbo].[Libros];
GO
CREATE NONCLUSTERED INDEX [IX_Libros_SignaturaLCC] ON [dbo].[Libros]
(
	[SignaturaLCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Libros_Titulo]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Libros_Titulo' AND object_id = OBJECT_ID('[dbo].[Libros]'))
    DROP INDEX [IX_Libros_Titulo] ON [dbo].[Libros];
GO
CREATE NONCLUSTERED INDEX [IX_Libros_Titulo] ON [dbo].[Libros]
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Multas_Estado]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Multas_Estado' AND object_id = OBJECT_ID('[dbo].[Multas]'))
    DROP INDEX [IX_Multas_Estado] ON [dbo].[Multas];
GO
CREATE NONCLUSTERED INDEX [IX_Multas_Estado] ON [dbo].[Multas]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Multas_UsuarioID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Multas_UsuarioID' AND object_id = OBJECT_ID('[dbo].[Multas]'))
    DROP INDEX [IX_Multas_UsuarioID] ON [dbo].[Multas];
GO
CREATE NONCLUSTERED INDEX [IX_Multas_UsuarioID] ON [dbo].[Multas]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notificaciones_Estado_UsuarioID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Notificaciones_Estado_UsuarioID' AND object_id = OBJECT_ID('[dbo].[Notificaciones]'))
    DROP INDEX [IX_Notificaciones_Estado_UsuarioID] ON [dbo].[Notificaciones];
GO
CREATE NONCLUSTERED INDEX [IX_Notificaciones_Estado_UsuarioID] ON [dbo].[Notificaciones]
(
	[Estado] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificaciones_ReservaID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Notificaciones_ReservaID' AND object_id = OBJECT_ID('[dbo].[Notificaciones]'))
    DROP INDEX [IX_Notificaciones_ReservaID] ON [dbo].[Notificaciones];
GO
CREATE NONCLUSTERED INDEX [IX_Notificaciones_ReservaID] ON [dbo].[Notificaciones]
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificaciones_UsuarioID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Notificaciones_UsuarioID' AND object_id = OBJECT_ID('[dbo].[Notificaciones]'))
    DROP INDEX [IX_Notificaciones_UsuarioID] ON [dbo].[Notificaciones];
GO
CREATE NONCLUSTERED INDEX [IX_Notificaciones_UsuarioID] ON [dbo].[Notificaciones]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservas_Estado]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Reservas_Estado' AND object_id = OBJECT_ID('[dbo].[Reservas]'))
    DROP INDEX [IX_Reservas_Estado] ON [dbo].[Reservas];
GO
CREATE NONCLUSTERED INDEX [IX_Reservas_Estado] ON [dbo].[Reservas]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservas_LibroID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Reservas_LibroID' AND object_id = OBJECT_ID('[dbo].[Reservas]'))
    DROP INDEX [IX_Reservas_LibroID] ON [dbo].[Reservas];
GO
CREATE NONCLUSTERED INDEX [IX_Reservas_LibroID] ON [dbo].[Reservas]
(
	[LibroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservas_UsuarioID]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Reservas_UsuarioID' AND object_id = OBJECT_ID('[dbo].[Reservas]'))
    DROP INDEX [IX_Reservas_UsuarioID] ON [dbo].[Reservas];
GO
CREATE NONCLUSTERED INDEX [IX_Reservas_UsuarioID] ON [dbo].[Reservas]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_CodigoUniversitario]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Usuarios_CodigoUniversitario' AND object_id = OBJECT_ID('[dbo].[Usuarios]'))
    DROP INDEX [IX_Usuarios_CodigoUniversitario] ON [dbo].[Usuarios];
GO
CREATE NONCLUSTERED INDEX [IX_Usuarios_CodigoUniversitario] ON [dbo].[Usuarios]
(
	[CodigoUniversitario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_EmailInstitucional]    Script Date: 04/11/2025 23:23:17 ******/
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'IX_Usuarios_EmailInstitucional' AND object_id = OBJECT_ID('[dbo].[Usuarios]'))
    DROP INDEX [IX_Usuarios_EmailInstitucional] ON [dbo].[Usuarios];
GO
CREATE NONCLUSTERED INDEX [IX_Usuarios_EmailInstitucional] ON [dbo].[Usuarios]
(
	[EmailInstitucional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ejemplares] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Ejemplares] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[LibroAutores] ADD  DEFAULT ((0)) FOR [EsAutorPrincipal]
GO
ALTER TABLE [dbo].[LibroAutores] ADD  DEFAULT ((1)) FOR [OrdenAutor]
GO
ALTER TABLE [dbo].[LibroCategorias] ADD  DEFAULT ((0)) FOR [EsCategoriaPrincipal]
GO
ALTER TABLE [dbo].[Multas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  CONSTRAINT [DF_Notificaciones_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ('Prestado') FOR [Estado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [Renovaciones]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [DiasRenovacion]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Recomendaciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [FechaReserva]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ((1)) FOR [PrioridadCola]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Pendiente') FOR [EstadoNotificacion]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('ColaEspera') FOR [TipoReserva]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaUltimaActualizacionContrasena]
GO
ALTER TABLE [dbo].[Ejemplares]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libros] ([LibroID])
GO
ALTER TABLE [dbo].[LibroAutores]  WITH CHECK ADD FOREIGN KEY([AutorID])
REFERENCES [dbo].[Autores] ([AutorID])
GO
ALTER TABLE [dbo].[LibroAutores]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libros] ([LibroID])
GO
ALTER TABLE [dbo].[LibroCategorias]  WITH CHECK ADD FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[LibroCategorias]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libros] ([LibroID])
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Reservas_ReservaID] FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Reservas_ReservaID]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libros] ([LibroID])
GO
ALTER TABLE [dbo].[Recomendaciones]  WITH CHECK ADD FOREIGN KEY([ProfesorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[RecursosDigitales]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libros] ([LibroID])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([LibroID])
REFERENCES [dbo].[Libros] ([LibroID])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Ejemplares] FOREIGN KEY([EjemplarID])
REFERENCES [dbo].[Ejemplares] ([EjemplarID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Ejemplares]
GO
ALTER TABLE [dbo].[Ejemplares]  WITH CHECK ADD CHECK  (([Estado]='Baja' OR [Estado]='Extraviado' OR [Estado]='Reparacion' OR [Estado]='Reservado' OR [Estado]='Prestado' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD CHECK  (([Estado]='Pagada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD CHECK  (([Estado]='Atrasado' OR [Estado]='Devuelto' OR [Estado]='Prestado'))
GO
ALTER TABLE [dbo].[RecursosDigitales]  WITH CHECK ADD CHECK  (([Tipo]='Suscripcion' OR [Tipo]='Gratuito'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Rol]='Administrador' OR [Rol]='Bibliotecaria' OR [Rol]='Profesor' OR [Rol]='Estudiante'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarReserva_CrearPrestamo]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[sp_AprobarReserva_CrearPrestamo]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[sp_AprobarReserva_CrearPrestamo];
GO
CREATE PROCEDURE [dbo].[sp_AprobarReserva_CrearPrestamo]
    @ReservaID INT,
    @AdministradorID INT,
    @DiasPrestamo INT = 15
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;
    BEGIN TRY
        -- Verificar existencia de la reserva primero (evita referencias a columnas inexistentes)
        DECLARE @ReservaExists INT = 0;
        SELECT @ReservaExists = COUNT(1) FROM Reservas WHERE ReservaID = @ReservaID;
        IF @ReservaExists = 0
        BEGIN
            -- Reserva no encontrada
            ROLLBACK TRANSACTION;
            RETURN -1;
        END

        -- Bloquear y leer columnas de Reservas de forma dinámica.
        -- Algunas instalaciones históricas tienen esquemas diferentes (p.ej. sin columnas EjemplarID o UsuarioID),
        -- por eso usamos COL_LENGTH() y SQL dinámico para evitar errores de compilación.
        DECLARE @UsuarioID INT = NULL, @LibroID INT = NULL, @EjemplarID INT = NULL;
        DECLARE @hasReservaEjemplar BIT = CASE WHEN COL_LENGTH('Reservas','EjemplarID') IS NOT NULL THEN 1 ELSE 0 END;
        DECLARE @hasReservaUsuario BIT = CASE WHEN COL_LENGTH('Reservas','UsuarioID') IS NOT NULL THEN 1 ELSE 0 END;
        DECLARE @sql NVARCHAR(MAX);

        IF @hasReservaUsuario = 1 AND @hasReservaEjemplar = 1
            SET @sql = N'SELECT @UsuarioID = UsuarioID, @LibroID = LibroID, @EjemplarID = EjemplarID FROM Reservas WITH (UPDLOCK, ROWLOCK) WHERE ReservaID = @ReservaID';
        ELSE IF @hasReservaUsuario = 1 AND @hasReservaEjemplar = 0
            SET @sql = N'SELECT @UsuarioID = UsuarioID, @LibroID = LibroID FROM Reservas WITH (UPDLOCK, ROWLOCK) WHERE ReservaID = @ReservaID';
        ELSE IF @hasReservaUsuario = 0 AND @hasReservaEjemplar = 1
            SET @sql = N'SELECT @LibroID = LibroID, @EjemplarID = EjemplarID FROM Reservas WITH (UPDLOCK, ROWLOCK) WHERE ReservaID = @ReservaID';
        ELSE
            SET @sql = N'SELECT @LibroID = LibroID FROM Reservas WITH (UPDLOCK, ROWLOCK) WHERE ReservaID = @ReservaID';

        EXEC sp_executesql @sql,
            N'@ReservaID INT, @UsuarioID INT OUTPUT, @LibroID INT OUTPUT, @EjemplarID INT OUTPUT',
            @ReservaID = @ReservaID,
            @UsuarioID = @UsuarioID OUTPUT,
            @LibroID = @LibroID OUTPUT,
            @EjemplarID = @EjemplarID OUTPUT;

        -- Verificar estado actual para no reprocesar
        DECLARE @EstadoActual VARCHAR(50);
        SELECT @EstadoActual = Estado FROM Reservas WITH (NOLOCK) WHERE ReservaID = @ReservaID;
        IF @EstadoActual IN ('Completada','Cancelada','Expirada')
        BEGIN
            ROLLBACK TRANSACTION;
            RETURN -2; -- estado final, no procesar
        END

        -- Si la reserva ya tiene ejemplar asignado, intentaremos usar ese ejemplar
        IF @EjemplarID IS NULL
        BEGIN
            -- Buscar primer ejemplar disponible y lockearlo para actualización
            SELECT TOP(1) @EjemplarID = EjemplarID
            FROM Ejemplares WITH (UPDLOCK, READPAST)
            WHERE LibroID = @LibroID AND Estado = 'Disponible'
            ORDER BY FechaAlta;
        END
        ELSE
        BEGIN
            -- asegurar que el ejemplar asignado sigue disponible
            SELECT @EjemplarID = EjemplarID
            FROM Ejemplares WITH (UPDLOCK, ROWLOCK)
            WHERE EjemplarID = @EjemplarID AND Estado = 'Disponible';
        END

        IF @EjemplarID IS NULL
        BEGIN
            -- No hay ejemplares disponibles; marcar reserva como Aprobada y dejarla para retiro manual
            UPDATE Reservas
            SET Estado = 'Aprobada', FechaLimiteRetiro = DATEADD(DAY, 2, GETDATE())
            WHERE ReservaID = @ReservaID;

            INSERT INTO Notificaciones (ReservaID, UsuarioID, Tipo, Mensaje, FechaCreacion, Estado)
            VALUES (@ReservaID, @UsuarioID, 'ReservaAprobada', 'Tu reserva ha sido aprobada pero no se asignó ejemplar. Por favor comunícate con la biblioteca.', GETDATE(), 'Pendiente');

            COMMIT TRANSACTION;
            RETURN 0; -- aprobado pero sin préstamo
        END

        -- Marcar ejemplar como Prestado
        UPDATE Ejemplares
        SET Estado = 'Prestado'
        WHERE EjemplarID = @EjemplarID;

        -- Actualizar reserva: asignar ejemplar y marcar completada
        IF @hasReservaEjemplar = 1
        BEGIN
            UPDATE Reservas
            SET EjemplarID = @EjemplarID,
                Estado = 'Completada',
                FechaLimiteRetiro = DATEADD(DAY, 2, GETDATE())
            WHERE ReservaID = @ReservaID;
        END
        ELSE
        BEGIN
            -- Esquema sin columna EjemplarID: actualizar solo campos existentes
            UPDATE Reservas
            SET Estado = 'Completada',
                FechaLimiteRetiro = DATEADD(DAY, 2, GETDATE())
            WHERE ReservaID = @ReservaID;
        END

        -- Insertar préstamo (esquema conocido: Prestamos referencia a ReservaID)
        DECLARE @PrestamoID INT;

        INSERT INTO Prestamos (ReservaID, FechaPrestamo, FechaVencimiento, Estado)
        VALUES (@ReservaID, GETDATE(), DATEADD(DAY, @DiasPrestamo, GETDATE()), 'Prestado');
        SET @PrestamoID = SCOPE_IDENTITY();

        -- Crear notificación de préstamo listo (UsuarioID puede ser NULL si no existe la columna en Reservas)
        INSERT INTO Notificaciones (ReservaID, UsuarioID, Tipo, Mensaje, FechaCreacion, Estado)
        VALUES (@ReservaID, @UsuarioID, 'PrestamoCreado', 'Se ha creado tu préstamo y el ejemplar está listo para retiro.', GETDATE(), 'Pendiente');

        COMMIT TRANSACTION;
        RETURN @PrestamoID;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error en sp_AprobarReserva_CrearPrestamo: %s', 16, 1, @msg);
        RETURN -99;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarEjemplarParaReserva]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('[dbo].[sp_AsignarEjemplarParaReserva]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[sp_AsignarEjemplarParaReserva];
GO
CREATE PROCEDURE [dbo].[sp_AsignarEjemplarParaReserva]
    @LibroID INT,
    @RequestedEjemplarID INT = NULL,
    @EjemplarAsignado INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;
    BEGIN TRY
        -- Inicializar
        SET @EjemplarAsignado = 0;

        IF @RequestedEjemplarID IS NULL
        BEGIN
            -- Buscar y lockear el primer ejemplar disponible
            SELECT TOP(1) @EjemplarAsignado = EjemplarID
            FROM Ejemplares WITH (UPDLOCK, READPAST)
            WHERE LibroID = @LibroID AND Estado = 'Disponible'
            ORDER BY FechaAlta;
        END
        ELSE
        BEGIN
            -- Intentar usar el ejemplar solicitado (si está disponible)
            SELECT @EjemplarAsignado = EjemplarID
            FROM Ejemplares WITH (UPDLOCK, ROWLOCK)
            WHERE EjemplarID = @RequestedEjemplarID AND Estado = 'Disponible' AND LibroID = @LibroID;
        END

        IF @EjemplarAsignado IS NULL OR @EjemplarAsignado = 0
        BEGIN
            -- No hay ejemplares disponibles
            SET @EjemplarAsignado = 0;
            COMMIT TRANSACTION;
            RETURN 0;
        END

        -- Marcar ejemplar como Reservado para evitar dobles asignaciones
        UPDATE Ejemplares
        SET Estado = 'Reservado'
        WHERE EjemplarID = @EjemplarAsignado;

        COMMIT TRANSACTION;
        RETURN 1;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('sp_AsignarEjemplarParaReserva error: %s', 16, 1, @msg);
        SET @EjemplarAsignado = 0;
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CalcularDisponibilidadLibro]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para calcular disponibilidad de un libro
IF OBJECT_ID('[dbo].[SP_CalcularDisponibilidadLibro]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[SP_CalcularDisponibilidadLibro];
GO
CREATE PROCEDURE [dbo].[SP_CalcularDisponibilidadLibro]
    @LibroID INT
AS
BEGIN
    SELECT 
        l.Titulo,
        l.ISBN,
        COUNT(e.EjemplarID) as TotalEjemplares,
        COUNT(CASE WHEN e.Estado = 'Disponible' THEN 1 END) as EjemplaresDisponibles,
        COUNT(CASE WHEN e.Estado = 'Prestado' THEN 1 END) as EjemplaresPrestados,
        COUNT(CASE WHEN e.Estado = 'Reservado' THEN 1 END) as EjemplaresReservados
    FROM Libros l
    LEFT JOIN Ejemplares e ON l.LibroID = e.LibroID
    WHERE l.LibroID = @LibroID
    AND (e.Estado != 'Baja' OR e.Estado IS NULL)
    GROUP BY l.LibroID, l.Titulo, l.ISBN;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarLibroConLCC]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento simplificado que recibe las partes LCC ya separadas
IF OBJECT_ID('[dbo].[sp_InsertarLibroConLCC]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[sp_InsertarLibroConLCC];
GO
CREATE PROCEDURE [dbo].[sp_InsertarLibroConLCC]
    @Titulo NVARCHAR(200),
    @Autor NVARCHAR(100),
    @ORCID VARCHAR(20) = NULL,
    @LCCSeccion VARCHAR(10),      -- RECIBE SECCIÓN YA SEPARADA
    @LCCNumero VARCHAR(20),       -- RECIBE NÚMERO YA SEPARADO
    @LCCCutter VARCHAR(20),      -- RECIBE CUTTER YA SEPARADO
    @AnioPublicacion INT = NULL,
    @Editorial NVARCHAR(100) = NULL,
    @Idioma NVARCHAR(50) = 'Español'
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Insertar libro
        INSERT INTO Libros (ISBN, Titulo, Editorial, AnioPublicacion, Idioma, Paginas, LCCSeccion, LCCNumero, LCCCutter)
        VALUES (NULL, @Titulo, @Editorial, @AnioPublicacion, @Idioma, NULL, @LCCSeccion, @LCCNumero, @LCCCutter);
        
        DECLARE @LibroID INT = SCOPE_IDENTITY();
        
        -- Insertar o encontrar autor (mejorado con ORCID)
        DECLARE @AutorID INT;
        
        -- Buscar por ORCID primero si se proporciona
        IF @ORCID IS NOT NULL AND @ORCID != ''
        BEGIN
            IF EXISTS (SELECT 1 FROM Autores WHERE ORCID = @ORCID)
            BEGIN
                SELECT @AutorID = AutorID FROM Autores WHERE ORCID = @ORCID;
            END
            ELSE
            BEGIN
                -- Crear nuevo autor con ORCID
                INSERT INTO Autores (Nombre, ORCID) VALUES (@Autor, @ORCID);
                SET @AutorID = SCOPE_IDENTITY();
            END
        END
        ELSE
        BEGIN
            -- Buscar solo por nombre si no hay ORCID
            IF EXISTS (SELECT 1 FROM Autores WHERE Nombre = @Autor)
            BEGIN
                SELECT @AutorID = AutorID FROM Autores WHERE Nombre = @Autor;
            END
            ELSE
            BEGIN
                -- Crear nuevo autor sin ORCID
                INSERT INTO Autores (Nombre) VALUES (@Autor);
                SET @AutorID = SCOPE_IDENTITY();
            END
        END
        
        -- Crear relación libro-autor
        INSERT INTO LibroAutores (LibroID, AutorID, EsAutorPrincipal, OrdenAutor)
        VALUES (@LibroID, @AutorID, 1, 1);
        
        -- Insertar o encontrar categoría basada en LCC
        DECLARE @CategoriaID INT;
        DECLARE @NombreCategoria NVARCHAR(100);
        
        SET @NombreCategoria = CASE @LCCSeccion
            WHEN 'BC' THEN 'Filosofía y Lógica'
            WHEN 'BF' THEN 'Psicología'
            WHEN 'G' THEN 'Geografía y Antropología'
            WHEN 'GV' THEN 'Recreación y Deportes'
            WHEN 'H' THEN 'Ciencias Sociales'
            WHEN 'HA' THEN 'Estadística'
            WHEN 'HB' THEN 'Economía'
            WHEN 'HC' THEN 'Historia Económica'
            WHEN 'HD' THEN 'Industria y Trabajo'
            WHEN 'HF' THEN 'Comercio'
            WHEN 'QA' THEN 'Matemáticas y Computación'
            WHEN 'QB' THEN 'Astronomía'
            WHEN 'QC' THEN 'Física'
            WHEN 'QD' THEN 'Química'
            WHEN 'QE' THEN 'Geología'
            WHEN 'QH' THEN 'Biología'
            WHEN 'QK' THEN 'Botánica'
            WHEN 'QL' THEN 'Zoología'
            WHEN 'QM' THEN 'Anatomía Humana'
            WHEN 'QP' THEN 'Fisiología'
            WHEN 'QR' THEN 'Microbiología'
            WHEN 'TS' THEN 'Manufactura y Calidad'
            WHEN 'TR' THEN 'Tecnología y Multimedia'
            WHEN 'Z' THEN 'Bibliotecología e Información'
            ELSE 'General'
        END;
        
        IF NOT EXISTS (SELECT 1 FROM Categorias WHERE Nombre = @NombreCategoria)
        BEGIN
            INSERT INTO Categorias (Nombre) VALUES (@NombreCategoria);
            SET @CategoriaID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            SELECT @CategoriaID = CategoriaID FROM Categorias WHERE Nombre = @NombreCategoria;
        END
        
        -- Crear relación libro-categoría
        INSERT INTO LibroCategorias (LibroID, CategoriaID, EsCategoriaPrincipal)
        VALUES (@LibroID, @CategoriaID, 1);
        
        COMMIT TRANSACTION;
        
        SELECT 'Libro insertado exitosamente' AS Resultado, @LibroID AS LibroID;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'Error: ' + ERROR_MESSAGE() AS Resultado;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_procesar_cola_reservas]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear o modificar el stored procedure para procesar la cola de reservas
IF OBJECT_ID('[dbo].[sp_procesar_cola_reservas]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[sp_procesar_cola_reservas];
GO
CREATE   PROCEDURE [dbo].[sp_procesar_cola_reservas]
    @EjemplarID int
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @LibroID int
    DECLARE @PrimeraReservaID int
    DECLARE @ReservaTemp TABLE (ReservaID int)

    -- Obtener el LibroID del ejemplar
    SELECT @LibroID = LibroID
    FROM Ejemplares
    WHERE EjemplarID = @EjemplarID

    -- Obtener y actualizar la primera reserva en cola
    -- Primero encontramos la reserva más antigua en cola
    SELECT TOP 1 @PrimeraReservaID = ReservaID
    FROM Reservas
    WHERE LibroID = @LibroID 
    AND Estado IN ('ColaEspera', 'Activa')
    ORDER BY 
        CASE WHEN PrioridadCola IS NULL THEN 999999 ELSE PrioridadCola END,
        FechaReserva

    -- Si encontramos una reserva, la actualizamos
    IF @PrimeraReservaID IS NOT NULL
    BEGIN
        UPDATE Reservas
        SET Estado = 'Atendida',
            EjemplarID = @EjemplarID,
            FechaLimiteRetiro = DATEADD(day, 2, GETDATE()),
            PrioridadCola = NULL
        WHERE ReservaID = @PrimeraReservaID

        -- Reordenar las prioridades de la cola para el mismo libro
        ;WITH ReservasOrdenadas AS (
            SELECT 
                ReservaID,
                ROW_NUMBER() OVER (ORDER BY FechaReserva) as NuevaPosicion
            FROM Reservas
            WHERE LibroID = @LibroID
            AND Estado IN ('ColaEspera', 'Activa')
        )
        UPDATE r
        SET PrioridadCola = ro.NuevaPosicion
        FROM Reservas r
        INNER JOIN ReservasOrdenadas ro ON r.ReservaID = ro.ReservaID
        WHERE r.LibroID = @LibroID
        AND r.Estado IN ('ColaEspera', 'Activa')
    END

    RETURN @PrimeraReservaID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarColaReservas]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear procedimiento para procesar la cola de reservas
IF OBJECT_ID('[dbo].[sp_ProcesarColaReservas]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[sp_ProcesarColaReservas];
GO
CREATE   PROCEDURE [dbo].[sp_ProcesarColaReservas]
    @LibroID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @PrimeraReservaID INT;
    
    -- Obtener la primera reserva en cola (estado ColaEspera)
    SELECT TOP 1 @PrimeraReservaID = ReservaID
    FROM Reservas
    WHERE LibroID = @LibroID 
    AND Estado = 'ColaEspera'
    AND TipoReserva = 'ColaEspera'
    ORDER BY FechaReserva;
    
    IF @PrimeraReservaID IS NOT NULL
    BEGIN
        -- Actualizar la reserva a tipo Retiro
        UPDATE Reservas 
        SET TipoReserva = 'Retiro',
            EstadoNotificacion = 'Pendiente'
        WHERE ReservaID = @PrimeraReservaID;
        
        -- Crear notificaciones
        INSERT INTO Notificaciones (ReservaID, UsuarioID, Tipo, Mensaje)
        SELECT 
            @PrimeraReservaID,
            CASE 
                WHEN u.Rol IN ('Bibliotecaria', 'Administrador') THEN u.UsuarioID 
                ELSE r.UsuarioID 
            END,
            CASE 
                WHEN u.Rol IN ('Bibliotecaria', 'Administrador') 
                THEN 'NuevaReservaParaRetiro'
                ELSE 'EjemplarDisponible'
            END,
            CASE 
                WHEN u.Rol IN ('Bibliotecaria', 'Administrador')
                THEN 'Nueva reserva lista para retiro del libro: ' + l.Titulo
                ELSE 'El ejemplar que reservaste del libro ' + l.Titulo + ' está disponible para retiro'
            END
        FROM Reservas r
        INNER JOIN Libros l ON r.LibroID = l.LibroID
        CROSS JOIN Usuarios u
        WHERE r.ReservaID = @PrimeraReservaID
        AND (u.Rol IN ('Bibliotecaria', 'Administrador') OR u.UsuarioID = r.UsuarioID);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ProcesarDevolucion]    Script Date: 04/11/2025 23:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) Crear procedimiento limpio y funcional
IF OBJECT_ID('[dbo].[SP_ProcesarDevolucion]', 'P') IS NOT NULL
    DROP PROCEDURE [dbo].[SP_ProcesarDevolucion];
GO
CREATE PROCEDURE [dbo].[SP_ProcesarDevolucion]
    @PrestamoID INT,
    @Observaciones NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- Variables locales
        DECLARE @ReservaID INT = NULL;
        DECLARE @EjemplarID INT = NULL;
        DECLARE @LibroID INT = NULL;
        DECLARE @NextReservaID INT = NULL;
        DECLARE @RowsAffected INT = 0;

        -- Obtener la Reserva asociada al préstamo (según tu DDL Prestamos.ReservaID)
        SELECT @ReservaID = p.ReservaID
        FROM dbo.Prestamos p
        WHERE p.PrestamoID = @PrestamoID;

        IF @ReservaID IS NULL
        BEGIN
            THROW 50001, 'No se encontró la reserva asociada al préstamo especificado.', 1;
        END

        -- Actualizar el préstamo: marcar como devuelto
        UPDATE dbo.Prestamos
        SET Estado = 'Devuelto',
            FechaDevolucion = SYSUTCDATETIME(),
            Observaciones = @Observaciones,
            FechaModificacion = SYSUTCDATETIME()
        WHERE PrestamoID = @PrestamoID;

        SET @RowsAffected = @@ROWCOUNT;
        IF @RowsAffected = 0
        BEGIN
            THROW 50002, 'No se pudo actualizar el préstamo (PrestamoID inválido).', 1;
        END

        -- Obtener EjemplarID y LibroID desde la Reserva (si reserva tiene EjemplarID)
        SELECT 
            @EjemplarID = r.EjemplarID,
            @LibroID    = COALESCE(e.LibroID, r.LibroID)
        FROM dbo.Reservas r
        LEFT JOIN dbo.Ejemplares e ON r.EjemplarID = e.EjemplarID
        WHERE r.ReservaID = @ReservaID;

        -- Si tenemos EjemplarID, marcar el ejemplar como disponible
        IF @EjemplarID IS NOT NULL
        BEGIN
            UPDATE dbo.Ejemplares
            SET Estado = 'Disponible'
            WHERE EjemplarID = @EjemplarID;

            -- no abortamos si no afectó filas, solo registramos
            SET @RowsAffected = @@ROWCOUNT;
        END

        -- Si aún no tenemos LibroID, intentar derivarlo desde Prestamos -> Ejemplar (si existe la columna)
        IF @LibroID IS NULL
        BEGIN
            IF EXISTS (
                SELECT 1
                FROM sys.columns
                WHERE object_id = OBJECT_ID('dbo.Prestamos') AND name = 'EjemplarID'
            )
            BEGIN
                SELECT @EjemplarID = r.EjemplarID
                FROM dbo.Prestamos p
                INNER JOIN reservas r on r.ReservaID=p.ReservaID
                WHERE p.PrestamoID = @PrestamoID;

                IF @EjemplarID IS NOT NULL
                BEGIN
                    SELECT @LibroID = e.LibroID
                    FROM dbo.Ejemplares e
                    WHERE e.EjemplarID = @EjemplarID;
                END
            END
        END

        -- Buscar la siguiente reserva activa por ese LibroID y marcarla como 'Atendida' (FIFO)
        IF @LibroID IS NOT NULL
        BEGIN
            SELECT TOP (1) @NextReservaID = r2.ReservaID
            FROM dbo.Reservas r2 WITH (ROWLOCK, UPDLOCK, READPAST)
            WHERE r2.LibroID = @LibroID
              AND r2.Estado = 'Activa'
            ORDER BY r2.FechaReserva ASC;

            IF @NextReservaID IS NOT NULL
            BEGIN
                UPDATE dbo.Reservas
                SET Estado = 'Atendida'
                WHERE ReservaID = @NextReservaID;
            END
        END

        COMMIT TRAN;

        -- Respuesta con información útil
        SELECT
            'Devolución procesada exitosamente' AS Resultado,
            @ReservaID     AS ReservaOrigen,
            @EjemplarID    AS EjemplarActualizado,
            @LibroID       AS LibroRelacionado,
            @NextReservaID AS ReservaAtendida;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;

        SELECT
            'Error al procesar devolución: ' + ERROR_MESSAGE() AS Resultado,
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_LINE() AS ErrorLine;
    END CATCH;
END;
GO
USE [master]
GO
